
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/template/admin/transactions-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jul 2020 05:06:13 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Channel Partner List</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/css/feathericon.min.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>
        @@import url("//db.onlinewebfonts.com/c/d66fa62dabed66f2226a1b2d17da0579?family=Showcard+Gothic");

        .cfont {
            font-family: 'Showcard Gothic',cursive;
            color: #036159;
        }

        .page-wrapper {
            margin-left: 0px;
        }

        .bg-success {
            color: #fff;
        }

        .actions a:hover, .actions a:active, .actions a:focus {
            color: #fff !important;
        }
    </style>
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="index.php" class="logo">
                    <!--<img src="assets/img/logo.png" alt="Logo">-->
                    <h1 class='cfont'>LogicProSol</h1>
                </a>
            </div>

            <!-- Header Right Menu -->
            <ul class="nav user-menu">
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="~/cdn/logo.jpg" width="31" alt="Admin"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/cdn/logo.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>LogicPro Sol</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" onclick="logout();">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->
            </ul>
            <!-- /Header Right Menu -->
        </div>
        <!-- /Header -->            <!-- /Page Header -->
        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Doctor List</h3>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0" id="tblDoctor">
                                        <thead>
                                            <tr>
                                                <th>Doctor Id</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Email</th>
                                                <th>Status</th>
                                                <th class="text-right" style="width:5%">Actions</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->
        <!-- Make Payout Modal -->
        <div class="modal fade" id="payout_modal" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <!--	<div class="modal-header">
                            <h5 class="modal-title">Make Payout</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>-->
                    <div class="modal-body">
                        <div class="form-content p-2">
                            <h4 class="modal-title">Make Payout</h4>
                            <p class="mb-4">Are you sure want to Make Payout?</p>
                            <button type="button" class="btn btn-success">Proceed </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Make Payout Modal -->

    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Datatables JS -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/template/admin/transactions-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Jul 2020 05:06:14 GMT -->
</html>
<script>
    function logout() {

        window.location.href = "@Url.Action("logout", "Admin")";

    }
</script>
<script>
    $(document).ready(function () {
        GetAllPrescription();
        function GetAllPrescription() {
            $.ajax({
                url: "@Url.Action("GetAllVerifiedDoc", "Admin")",
                dataType: "json",

                success: function (data) {
                    debugger;

                    var jdata = JSON.parse(data);
                    var table = $('#tblDoctor').DataTable().clear().draw();

                    $.each(jdata, function (i1, v1) {

                        var newrow = "<tr class='uomname' style='cursorointer'>" +
                            "<td>" + v1.DocId + "</td>" +
                            "<td>" + v1.FirstName + "</td>" +
                            "<td>" + v1.phone + "</td>" +
                            "<td>" + v1.EmailId + "</td>" +
                            "<td>" + v1.VerificationStatus + "</td>" +
                            "<td><a href='@Url.Action("EditDoc", "Admin")?docid=" + v1.DocId + "'><i class='fa fa-user'></i></a></td>" +
                            "</td>" +
                            +"</tr>";


                        table.row.add($(newrow)).draw();
                    })
                }
            })
        }
    })
</script>